/* ==== FONT IMPORT ==== */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=BBH+Sans+Hegarty&family=Momo+Trust+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@300;400;500&display=swap");

/* ==== ANIMASI ==== */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px); /* sedikit naik dulu */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ==== SCROLL ANIMATION & DISABLE SCROLLBAR ==== */

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}
@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* === LAYOUT BODY === */
.pagewrap {
  color: #dce6e8;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  letter-spacing: 0.3px;
  padding: 20px;

  min-height: 100vh;
  box-sizing: border-box;
  transition: background 0.5s ease;

  background-color: #05051c;
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      #05051c 20%,
      #05051c 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #05051c 20%,
        #05051c 80%,
        transparent 80%,
        transparent
      )
      37.5px 37.5px,
    linear-gradient(#45c4f7 3px, transparent 3px) 0 -1.5px,
    linear-gradient(90deg, #45c4f7 3px, #05051c 3px) -1.5px 0;
  background-size: 75px 75px, 75px 75px, 37.5px 37.5px, 37.5px 37.5px;
}

body {
  margin: 0;
  padding: 0;
}

/* ==== NAVBAR ==== */
header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(203, 231, 231);
  padding: 25px 20px 25px 40px;
  border-radius: 30px;
  font-family: "BBH Sans Hegarty", sans-serif;
  font-size: 12px;
  animation: fadeIn 1s ease-out 0.3s forwards;
  opacity: 0;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#profile {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000000;
}

#profile img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  transition: border-color 0.3s ease;
}

#profile span {
  font-size: 13px;
}

nav img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

#navbar {
  display: flex;
  gap: 49px;
}

a,
a:visited {
  text-decoration: none;
  color: rgb(1, 10, 59);
}

#navcontact {
  background-color: rgb(5, 5, 65);
  color: rgb(153, 236, 209);
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

#navbar > a:hover {
  color: rgb(40, 236, 171);
  transition: all 0.2s ease;
}

#navcontact:hover {
  background-color: rgb(153, 153, 238);
  color: rgb(1, 10, 59);
}

/* ==== SECTION ==== */
section {
  margin: 80px 0;
  animation: fadeIn 1s ease-out forwards;
  opacity: 0;
}

/* ==== HEADING ==== */
section h1,
h2,
h3 {
  font-family: "Archivo Black", sans-serif;
  color: rgb(1, 10, 59);
  letter-spacing: 0.5px;
  line-height: 1.3;
  text-shadow: 0 0 10px rgba(153, 236, 209, 0.25);
  opacity: 0;
  animation: fadeIn 1s ease-out 0.4s forwards;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 8px;
}

/* ==== PARAGRAF ==== */
p {
  color: rgba(2, 8, 44, 0.849);
  font-size: 1rem;
  max-width: 900px;
  text-align: justify;
  opacity: 0;
  animation: fadeIn 1s ease-out 0.6s forwards;
}

/* ==== LINK DI KONTEN ==== */
main a {
  color: #99ecd1;
  text-decoration: none;
  transition: all 0.3s ease;
}
main a:hover {
  color: #c0fff1;
  text-decoration: underline;
}

/* ==== LAYOUT PARAGRAF ==== */

#aboutMe,
#family,
#likes,
#toUNS,
#hopes {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 40px;
  padding: 60px 10%;
  background-color: #b6d7d8;
  border-radius: 15px;
  animation: fadeIn 1s ease-out forwards;
  transition: background-color 0.5s ease, color 0.5s ease;
}
/* ==== SECTION ABOUT ME ==== */
#family,
#likes,
#toUNS {
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  gap: 40px;
  padding: 60px 10%;
  background-color: #b6d7d8;
  border-radius: 15px;
  animation: fadeIn 1s ease-out forwards;
}

/* teks di kiri */
#family .section-text,
#likes .section-text,
#toUNS .section-text,
#hopes .section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#aboutMe h1,
#family h1,
#likes h1,
#toUNS h1,
#hopes h1 {
  font-family: "Archivo Black", sans-serif;
  font-size: 2rem;
  margin-bottom: 15px;
}

#aboutMe p,
#family p,
#likes p,
#toUNS p,
#hopes p {
  color: #222;
  line-height: 1.6;
  text-align: justify;
  font-family: "Poppins", sans-serif;
}

#aboutMe .about-img {
  display: flex;
  justify-content: flex-end;
}

#aboutMe img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid #010622;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  animation: fadeIn 1.2s ease-out forwards;
  transition: border-color 0.3s ease;
}
#family img,
#toUNS img,
#hopes img {
  width: 506px;
  height: 411px;
  object-fit: cover;
  border: 6px solid #010622;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 5%;
  animation: fadeIn 1.2s ease-out forwards;
  transition: border-color 0.3s ease;
}

#contact {
  text-align: center;
  background-color: #b6d7d8;
  padding: 60px 10%;
  border-radius: 15px;
}

#contact h1 {
  font-family: "Archivo Black", sans-serif;
  font-size: 2rem;
  margin-bottom: 25px;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.contact-links a {
  text-decoration: none;
  color: #010a3b;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #e8f6f5;
  padding: 10px 20px;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.contact-links a:hover {
  background-color: #a3dad5;
  transform: scale(1.05);
  text-decoration: none;
}

.contact-links img {
  max-width: 24px;
  max-height: 24px;
}

footer {
  height: 100px;
  background: #010622;
  position: relative;
  animation: fadeIn 1s ease-out forwards;
  border-radius: 10px;
}

footer > p {
  margin-left: 230px;
  padding-top: 35px;
  text-align: center;
  color: #99ecd1;
}
/* ==== ANIMASI GAMBAR LIKES ==== */

#likes .section-image {
  display: grid;
  grid-template-columns: 340px 340px;
  gap: 20px;
  padding: 20px;
  justify-content: end;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 340px;
  height: 190px;
  border-radius: 5%;
  border: 6px solid #010622;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, border-color 0.3s ease;
}

.image-container .deskripsi {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  padding: 40px 15px 15px 15px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.image-container .deskripsi h3,
.image-container .deskripsi p {
  animation: none;
  opacity: 1;
  transform: none;
}

.image-container .deskripsi h3 {
  color: #c0fff1;
}

.image-container .deskripsi p {
  color: aliceblue !important;
}

.image-container:hover img {
  transform: scale(1.3);
}

.image-container:hover .deskripsi {
  opacity: 1;
  transform: translateY(0);
}

/* === BACK TO TOP BUTTON === */

.top-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #b8e5e0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  animation: none !important;
  opacity: 1 !important;
  width: 60px;
  height: 60px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-button:hover {
  background-color: #99ecd1;
  transform: translateY(-5px);
}

.top-button span {
  color: #010622;
  transition: 0.2s ease-out;
  font-size: 2rem;
  line-height: 1;
}

/* ==== RESPONSIF ==== */

/* ==== RESPONSIF UNTUK TABLET ==== */
@media (max-width: 1024px) {
  nav {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  #navbar {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  section {
    padding: 40px 5%;
  }

  #aboutMe,
  #family,
  #likes,
  #toUNS,
  #hopes {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #family img,
  #toUNS img,
  #hopes img {
    margin: 0 auto;
    width: 70%;
    height: auto;
  }
  #aboutMe img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  #likes .section-image {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  .image-container {
    width: 100%;
    height: auto;
  }
  footer > p {
    margin-left: 40px;
  }
}

/* ==== RESPONSIF UNTUK MOBILE ==== */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    gap: 10px;
  }
  .pagewrap {
    padding: 10px;
  }
  #navbar {
    flex-direction: column;
    gap: 10px;
  }

  section {
    margin: 40px 0;
    padding: 30px 5%;
  }

  #aboutMe,
  #family,
  #likes,
  #toUNS,
  #hopes {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  #family img,
  #toUNS img,
  #hopes img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  #aboutMe img {
    width: 200px;
    height: 200px;
  }

  #likes .section-image {
    grid-template-columns: 1fr;
  }
  .image-container .deskripsi p {
    color: aliceblue !important;
    font-size: 12px;
  }
  .top-button {
    bottom: 1.5rem;
    right: 1.5rem;
    width: 50px;
    height: 50px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  footer p {
    font-size: 0.8rem;
  }
}

/* === SEGALA-GALANYA SOAL LIGHT MODE === */

.lightmode {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  background-color: #b8e5e0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  animation: none !important;
  opacity: 1 !important;
  width: 60px;
  height: 60px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3 ease;
}

.lightmode span {
  color: #010622;
  transition: 0.2s ease-out;
  font-size: 2rem;
  line-height: 1;
  transition: all 0.2 ease;
}

.lightmode:hover {
  background-color: #010622;
  transition: all 0.3 ease;
}

.lightmode span:hover {
  color: #99ecd1;
  transition: all 0.2 ease;
}

#lightmode-toggle {
  display: none;
}

#lightmode-toggle:checked ~ .pagewrap {
  background-color: #dfdfee;
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      #dfdfee 20%,
      #dfdfee 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #dfdfee 20%,
        #dfdfee 80%,
        transparent 80%,
        transparent
      )
      37.5px 37.5px,
    linear-gradient(#45c4f7 3px, transparent 3px) 0 -1.5px,
    linear-gradient(90deg, #45c4f7 3px, #dfdfee 3px) -1.5px 0;
  background-size: 75px 75px, 75px 75px, 37.5px 37.5px, 37.5px 37.5px;
  transition: background 1s ease;
}

#lightmode-toggle:checked ~ .pagewrap #navbar,
#lightmode-toggle:checked ~ .pagewrap nav,
#lightmode-toggle:checked ~ .pagewrap #aboutMe,
#lightmode-toggle:checked ~ .pagewrap #family,
#lightmode-toggle:checked ~ .pagewrap #likes,
#lightmode-toggle:checked ~ .pagewrap #toUNS,
#lightmode-toggle:checked ~ .pagewrap #hopes,
#lightmode-toggle:checked ~ .pagewrap #contact {
  background-color: #010622;
}

#lightmode-toggle:checked ~ .pagewrap #navbar a,
#lightmode-toggle:checked ~ .pagewrap nav p,
#lightmode-toggle:checked ~ .pagewrap #aboutMe p,
#lightmode-toggle:checked ~ .pagewrap #family p,
#lightmode-toggle:checked ~ .pagewrap #likes p,
#lightmode-toggle:checked ~ .pagewrap #toUNS p,
#lightmode-toggle:checked ~ .pagewrap #hopes p,
#lightmode-toggle:checked ~ .pagewrap #contact p {
  color: #dce6e8;
}

#lightmode-toggle:checked ~ .pagewrap #aboutMe h1,
#lightmode-toggle:checked ~ .pagewrap #family h1,
#lightmode-toggle:checked ~ .pagewrap #likes h1,
#lightmode-toggle:checked ~ .pagewrap #toUNS h1,
#lightmode-toggle:checked ~ .pagewrap #hopes h1,
#lightmode-toggle:checked ~ .pagewrap #contact h1 {
  color: #99ecd1;
}

#lightmode-toggle:checked ~ .pagewrap #navcontact {
  background-color: #99ecd1;
  color: #010a3b;
}
#lightmode-toggle:checked ~ .pagewrap #navcontact:hover {
  background-color: #0721b3;
  color: #72caec;
}
#lightmode-toggle:checked ~ .pagewrap #navbar a:hover {
  color: #45c4f7;
}
#lightmode-toggle:checked ~ .pagewrap img {
  border-color: #99ecd1;
}
#lightmode-toggle:checked ~ .pagewrap .image-container {
  border-color: #99ecd1;
}

#lightmode-toggle:checked ~ .pagewrap .image-container .deskripsi h3 {
  color: #071879;
}

#lightmode-toggle:checked ~ .pagewrap footer {
  background-color: #99ecd1;
}
#lightmode-toggle:checked ~ .pagewrap footer > p {
  color: #05051c;
}

#lightmode-toggle:checked ~ .pagewrap .contact-links a {
  background-color: #010a3b;
  color: #3f8bb8;
}

#lightmode-toggle:checked ~ .pagewrap .contact-links a:hover {
  background-color: #071879;
  color: #45c4f7;
}
